.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.air-fill {
  color: #2dca73;
}

.error-fill {
  color: #ff0b37;
}

.warning-fill {
  color: #ffb800;
}

.info-fill {
  color: #0f81e0;
}
